<div class="container">
  <div class="jumbotron">
    <h1>
      Gem Devise Tutorial
    </h1> 
    <p>
      Devise is a flexible authentication solution for Rails based on Warden.
    </p> 
  </div>
</div>
